extends ../layout

block pageContent
  h1 #{title}

  div.col-lg-6.col-sm-12(id="app")
    div.alert.alert-danger(v-show="messages.error") {{ messages.error }}
    div.alert.alert-success(v-show="messages.success") {{ messages.success }}
    div.alert.alert-warning(v-show="messages.warnings")
      span(v-if="messages.warnings") &nbsp;The record was saved with warnings. View  
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        div.warnings(style="display: none;")
          ul
            li(v-for="warning in messages.warnings") {{ warning }}
    table.table
      tr
        th MMS_ID:
        td
          input(type="text", v-model="bib.mms_id" placeholder="MMS ID...")
          button(class="btn btn-sm" v-on:click="retrieveBib") Retrieve BIB
      tr
        th Title:
        td
          input(type="text", v-model="bib.title")
      tr
        th Author:
        td
          input(type="text", v-model="bib.author")
    button(class="btn btn-default updateBib" v-bind:disabled="!bib.mms_id || messages.errors" v-on:click="updateBib") Update Bib

  script.
    $(document).on('click', '.glyphicon', function() {
      $(this).toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
      $(this).next().toggle();
    });  

    var app = new Vue({
      el: '#app',
      data: { bib: { }, messages: { } },
      methods: {
        updateBib: function() {
          var self = this;
          var request = $.ajax({
            dataType: "json",
            method: "POST",
            url: '/catalog/' + this.bib.mms_id,
            data: this.bib
          });

          request.done(function(data) {
            self.messages = data.messages;
          });

          request.fail(function( jqXHR ) {
            self.messages = jqXHR.responseJSON.messages;
          });
        },
        retrieveBib: function() {
          var self = this;
          $.getJSON( "/catalog/" + this.bib.mms_id)
          .done(function( data ) {
            self.bib = data; self.messages = {};
          })
          .fail(function( jqXHR ) {
            self.bib = {};
            self.messages = jqXHR.responseJSON.messages;
          });
        }
      }
    })  

